<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>SOME ERROR OCCURED!</h1>
            <p>WE ARE WORKING ON FUXING THIS</p>
            <%- include('includes/end.ejs') %>